<!DOCTYPE html>
<!-- <link rel="stylesheet" href="//fonts.lug.ustc.edu.cn/css?family=Roboto:300,300italic,700,700italic"> -->
<link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/milligram/1.3.0/milligram.min.css" rel="stylesheet">


<html lang="zh">
<head>
    <meta charset="UTF-8">
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>安徽科技学院自助填表系统</title>
    <style>
        .flex-center{
        display: flex;
        justify-content: space-around;
        }
        th {
            text-align:center;
        }
        td {
            text-align:center;
        }
    </style>

</head>
<body>
<br/>
<h1 style="font-family:Microsoft Yahei;text-align:center;">安徽科技学院自助填表系统</h1>
<blockquote style="font-family:Microsoft Yahei;text-align:center;"><em>一个自助式、协作式的班级报表填写系统 --wzl</em></blockquote>

<div class="container">
    <form id="fm">
        <div class="row">
            <div class="column">
                <label for="name">姓名</label>
                <input type="text" placeholder="你的名字" id="name" name="name"/>
            </div>

            <div class="column">
                <label for="phone">联系方式</label>
                <input type="text" placeholder="你的手机号" id="phone" name="phone"/>
            </div>

        </div>
        <div class="row">
            <div class="column">
                <label for="go">离校日期</label>
                <input type="text" placeholder="如:10-11" id="go" name="go"/>
            </div>
            <div class="column">
                <label for="back">返校日期</label>
                <input type="text" placeholder="如:10-12" id="back" name="back"/>
            </div>

        </div>
        <div class="row">
            <div class="column">
                <label for="where">去向</label>
                <input type="text" placeholder="世界那么大,你要去哪儿？" id="where" name="where"/>
            </div>
        </div>
    </form>
</div>     <!-- 这里是信息输入部分 -->


<div class="row flex-center"><label id="alert"></label></div>

<div class="row flex-center">
    <input id="submit" class="button-large" type="button" value="提交" onclick="send();"/>
    <input id="reset" class="button-large button-outline" type="reset" value="清空" onclick="reset();"/>
</div>

<div class="container">
    <table id="tb">
        <thead>
        <tr>
            <th width="60px">序号</th>
            <th width="80px">姓名</th>
            <th>去向登记</th>
            <th>离校日期</th>
            <th>返校日期</th>
            <th>联系方式</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data%}
        <tr>
            <td width="60px">{{ loop.index }}</td>
            <td width="90px">{{ row.name }}</td>
            <td>{{ row.where }}</td>
            <td>{{ row.go}}</td>
            <td>{{ row.back }}</td>
            <td>{{ row.phone }}</td>
            <td>
                <div>
                    <input class="button-large button-outline" type="button" value="编辑"
                           onclick="edit(&quot {{row.name}} &quot);"/>
                    <input class="button-large button-outline" type="button" value="删除"
                           onclick="del(&quot {{row.name}} &quot);"/>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>

<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>

<script type="text/javascript">
    function send()
    {

        var json_data = JSON.stringify($('#fm').serializeJSON());
        console.log(json_data);

        instance = axios.create({
          headers: {'Content-Type': 'application/json'}
        });
        instance.post('/submit', json_data).then(function(response){
            if (response.data == '')
                location.reload();
            else
                $("#alert").html(response.data);
        }).catch(function (error) {
            $("#alert").html("你已经填过表了, 请不要重复提交哦");
         });
    }

    function reset()
    {
        $('#fm')[0].reset();
    }

    function del(name)
    {
        console.log(name);
        axios({
                method:"DELETE",
                url:'/submit',
            data:{
                "name": name
            }
        }).then(function(response){
            if (response.data == '')
                location.reload();
            else
                $("#alert").html(response.data);
        });
    }

    function edit(name)
    {
        $("#name").attr({
            "value" : name,
            "disabled": true
        });

        $("#tb tr").each(function(i){
            var tb_name = $(this).children('td').eq(1).text();
            if (tb_name == name.trim()){
                var where = $(this).children('td').eq(2).text();
                var go = $(this).children('td').eq(3).text();
                var back = $(this).children('td').eq(4).text();
                var phone = $(this).children('td').eq(5).text();
                $("#name").attr( "value", tb_name );
                $("#where").attr( "value", where );
                $("#go").attr( "value", go );
                $("#back").attr( "value", back );
                $("#phone").attr( "value", phone );
            }
        });

        $("#submit").attr({
            "onclick" : "sub_edit();",
            "value" : "提交修改"
        });

        $("#reset").attr({
            "value" : "还原修改"
        });

        $("#alert").html("");
    }

    function sub_edit()
    {
        var json_data = JSON.stringify($('#fm').serializeJSON());
        console.log(name);

        instance = axios.create({
          headers: {'Content-Type': 'application/json'}
        });

        instance.patch('/submit', json_data).then(function(response){
            if (response.data == '')
                location.reload();
            else
                $("#alert").html(response.data);
        });


    }


</script>
</html>
